.categories-container {
  padding: 1rem;
}

.categories-list {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
}

.categories-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-item-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.category-item {
  border: 2px solid #0f1975;
  background: rgb(208, 220, 231);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  justify-content: space-evenly;
  font-weight: bold;
  align-items: center;
  width: 80%;
  font-size: 1.35rem;
}

.category-item svg {
  cursor: pointer;
}

.subcategory-container {
  width: 70%;
  margin: 0 auto;
}

.subcategory-item {
  margin: 1rem 0;
}

.button-group {
  display: flex;
}

table {
  width: 100%;
  border-right-color: #ffffff;
  margin-top: 100px;
  font-size: 18px;
  /* /* border: 1px solid #343a40; */
  border-collapse: collapse;
  margin: 3rem auto;
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.16);
}

th,
td {
  /* border: 1px solid #343a40; */
  padding: 16px 24px;
  text-align: center;
}

th {
  background: #0f1975;
  color: #fff;
  width: 33.33%;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

.button-group {
  display: flex;
  justify-content: center;
}
