.categories-container {
  padding: 1rem;
}

.categories-list {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
}

.categories-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-item {
  border: 1px solid #0f1975;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-item svg {
  cursor: pointer;
}

.subcategory-container {
  width: 70%;
  margin: 0 auto;
}

.subcategory-item {
  margin: 1rem 0;
}
