.links-wrapper {
  display: flex;
  flex-direction: column;
  background: #0f1975;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 15%;
  font-weight: bold;
  min-height: 100vh;
}
.active {
  background: #1d2aa7;
}
.links-wrapper .links-list > a {
  color: white;
  text-decoration: none;
}
.link-group {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  padding: 0.5rem;
}
.link-group svg {
  margin-right: 1rem;
}
.link-group:hover {
  background: #1d2aa7;
}
.logo-style {
  width: 180px;
  height: 100px;
  margin: 1rem auto;
  background: #fff;
  object-fit: cover;
}
