.access-container {
  padding: 1rem;
  height: 60vh;
}
.access-section {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  height: 100%;
}
.access-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.role-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
}
.role-item {
  background: rgb(208, 220, 231);
  padding: 1rem;
  border-radius: 5px;
}
