.access-container {
  padding: 1rem;
  min-height: 60vh;
}
.access-section {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  height: 100%;
}
.access-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.role-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
}
.role-item {
  background: rgb(208, 220, 231);
  padding: 1rem;
  border: 2px solid #0f1975;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button-group {
  display: flex;
}

.user-avatar {
  background: rgb(180, 185, 190);
  border-radius: 50%;
  padding: 1rem;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-avatar svg {
  height: 50px;
  width: 50px;
}
